<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> --}}
    
    </head>
    <body>
        <h1>Something unfortunate has happened</h1>
        <div>
            <h2>Message:</h2>
            <p>{{msg}}</p>
            <h2>Stack trace:</h2>
            <p>{{stacktrace}}</p>
        </div>
    </body>
</html>
