<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>How long ago was this film released? - Search</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    </head>
    <body>
        <h1>How long ago was this film released?</h1>

        <form id="search-form" action="/movie">
            <input  id="input-title"
                    name="search_terms"
                    placeholder="Choose a film!"
            >
            <select id="select-region" 
                    name="selected_region"
            >
              <option value="FR">France</option>
              <option value="IT">Italy</option>
              <option value="UK" selected>United Kingdom</option>
              <option value="US">United States</option>
            </select>
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

    </body>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/fetch.js"></script>
    
</html>
